body {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 15px;
}
.carousel {
    width:900px;
    height:100%;
}
.cWrapper {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    width: 100%;
}
.directions {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dTitle {
    margin: 5px;
}
.fullName {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}
.images {
    width: 100%;
}
.infoWindow{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.infoName {
    font-weight: bold;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.25em;
}
.js-container {
    width: 100%;
    height: 575px;
    padding: 0px;
    border: 2px dotted #bdc5b1;
    background-color: #f7f9f3;
    overflow: scroll;
    margin: 25px auto;
}
.js-popup {
    width: 375px;
    height: 200px;
    padding: 5px;
    background-color: #fdfefb;
    border: 1px solid #d6dfc8;
    overflow: scroll;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.js-info {
    width: 900px;
    height: 100%;
    padding: 10px;
    overflow: scroll;
    background-color: #f7f9f3;
    border: 2px dotted #bdc5b1;
    font-family: 'Hind Vadodara', sans-serif;
    margin: 25px auto;
    padding: 10px;
}
.js-pics {
    width: 900px;
    height: 100%;
    padding: 10px;
    overflow: auto;
    background-color: #f7f9f3;
    border: 2px dotted #bdc5b1;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}
#js-image {
    width: 900px;
    height: 100%;
}
.static-header {
    align-items: center;
    display: flex;
    width: 100%;
    font-family: 'Cabin Sketch', cursive;
    height: 75px;
    justify-content: center;
    background-color: #7B8355;
    top: 0;
    margin-bottom: 20px;
    padding: 5px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
#info {
    height: 100%;
}

.url {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 65px;
    font-style: bold;
    color: #EFF7E1;
    line-height: 18px;
    text-align: left;
}

h3 {
    font-size: 1.5em;
}
a:link {
    color: #9AA170;
}
a:visited {
    color: #C3CB8D;
}
a:hover {
    color: #9AA170;
}
a:active {
    color: #AEB67D;
}
