body {
    
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 15px;
}
.carousel {
    width:900px;
    height:100%;
}
.cWrapper {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    width: 100%;
}
.directions {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dTitle {
    margin: 5px;
}
.fullName {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}
.images {
    width: 100%;
}
.infoWindow{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.infoName {
    font-weight: bold;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.25em;
}
.js-container {
    width: 100%;
    height: 575px;
    padding: 0px;
    border: 2px solid #bdc5b1;
    background-color: #f7f9f3;
    overflow: scroll;
    margin: 25px auto;
}
.js-popup {
    width: 375px;
    height: 200px;
    padding: 5px;
    background-color: #fdfefb;
    border: 1px solid #d6dfc8;
    overflow: scroll;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.js-info {
    width: 900px;
    height: 100%;
    padding: 10px;
    overflow: scroll;
    background-color: #c9d8c5;
    border: 2px solid #a8b6bf;
    border-radius: 50px;
    font-family: 'Hind Vadodara', sans-serif;
    margin: 25px auto;
    padding: 15px;
    overflow: hidden;
}
.js-pics {
    width: 900px;
    height: 100%;
    padding: 10px;
    overflow: auto;
    background-color: #a8b6bf;
    border: 2px solid #c9d8c5;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}
#js-image {
    margin: auto;
    height: 500px;
}
.static-header {
    align-items: center;
    display: flex;
    width: 100%;
    font-family: 'Cabin Sketch', cursive;
    height: 75px;
    justify-content: center;
    background-color: #c9d8c5;
    top: 0;
    margin-bottom: 20px;
    padding: 5px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#info {
    height: 100%;
}

.url {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5em;
    font-style: bold;
    color: #7d4627;
    line-height: 18px;
    text-align: left;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
a:link {
    color: rgb(65, 115, 52);
}
a:visited {
    color: rgb(55, 100, 48);
}
a:hover {
    color: #9AA170;
}
a:active {
    color: #AEB67D;
}


/* media queries*/

@media screen and (max-width: 768px) {
    .directions {
        max-width: 90%; 
        margin: auto;
    }
    .js-info {
        display: block;
        max-width: 90%;
        margin: 10px;
        display: block;
    }
    .cWrapper {
        max-width: 90%;
        height: auto;
        margin: 10px;
    }

    .static-header h1{
        font-size: 4em;
    }

}

@media screen and (max-width: 470) {

    }